<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Cost</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <th th:text="${product.id}" scope="row"></th>
            <td th:text="${product.title}"></td>
            <td th:text="${'$ ' + product.cost}"></td>
            <td>
                <a th:href="@{'/product/remove/' + ${product.id}}">
                    <button type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <p>Total products: <span th:text="${totalProducts}" /></p>
</div>
<div>
    <form th:action="@{'/product/add'}" method="post" class="row g-3">
        <div class="col-auto">
            <label for="title" class="visually-hidden">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="">
        </div>
        <div class="col-auto">
            <label for="cost" class="visually-hidden">Cost</label>
            <input type="number" class="form-control" id="cost" name="cost" placeholder="">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Save</button>
        </div>
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>